@font-face {
  font-family: 'Georgia';
  src: url("../../assets/fonts/Georgia.woff") format("woff");
  font-weight: 400; }
@font-face {
  font-family: 'Georgia-Bold';
  src: url("../../assets/fonts/Georgia-Bold.woff") format("woff");
  font-weight: 700; }
@font-face {
  font-family: 'Georgia-Italic';
  src: url("../../assets/fonts/Georgia-Italic.woff") format("woff");
  font-weight: 400; }
* {
  box-sizing: border-box; }

html, body, main {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth; }
  html.disable-scroll, body.disable-scroll, main.disable-scroll {
    overflow-y: hidden; }
  html.disable-popup-scroll, body.disable-popup-scroll, main.disable-popup-scroll {
    overflow-y: hidden; }

.container {
  overflow-x: hidden; }
  .container.disable-scroll {
    overflow-y: hidden; }
  .container.disable-popup-scroll {
    overflow-y: hidden; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

h2 {
  font-size: 44px;
  line-height: 130%; }

h3 {
  font-size: 35px;
  line-height: 130%; }

h4 {
  font-size: 20px;
  line-height: 115%; }

h5 {
  font-size: 15px;
  line-height: 110%; }

body {
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: black; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

button {
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  cursor: pointer; }

.overlay {
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: rgba(41, 41, 41, 0.6);
  opacity: 0;
  z-index: -1;
  transition: all .5s ease-in-out; }
  .overlay.active {
    z-index: 0;
    opacity: 100%; }
  .overlay.active-popup {
    z-index: 1;
    opacity: 1; }

.header {
  background-color: #FFFFFF;
  color: #FFFFFF;
  padding-bottom: 30px;
  padding-top: 30px; }
  .header.sticky {
    position: fixed;
    top: 0;
    width: 100%; }
  .header.sticky + main {
    padding-top: 120px; }

.wrapper {
  width: 1200px;
  margin: 0 auto; }

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  display: flex;
  flex-direction: column;
  align-items: center; }

.title {
  font-family: Georgia, serif;
  color: #545454;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
  letter-spacing: 0.06em;
  transition: all .5s; }

.subtitle {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #292929;
  margin: 0;
  letter-spacing: 0.1em;
  transition: all .5s; }

.nav {
  margin-left: auto; }

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav-list__item {
  height: 27px;
  border-bottom: 3px solid transparent; }
  .nav-list__item.active {
    border-bottom: 3px solid #F1CDB3; }
    .nav-list__item.active .nav-list__item-link {
      color: #292929; }
  .nav-list__item:hover .nav-list__item-link {
    color: #292929; }

.nav-list__item:not(:last-child) {
  margin-right: 36px; }

.nav-list__item-link {
  font-size: 15px;
  line-height: 160%;
  color: #545454; }

.nav-burger {
  display: none; }

.our-friends {
  background-color: #F6F6F6;
  padding-bottom: 84px; }

.our-friends-content {
  display: flex;
  flex-direction: column;
  align-items: center; }

.our-friends__title {
  margin-top: 80px;
  line-height: 130%;
  margin-bottom: 45px;
  letter-spacing: 0.06em;
  width: 400px;
  text-align: center;
  white-space: pre-line; }

.our-friends__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 30px;
  margin-bottom: 43px;
  padding-top: 15px; }

.our-friends__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  padding-bottom: 30px;
  cursor: pointer;
  border-radius: 9px;
  background-color: #FAFAFA; }
  .our-friends__card.active {
    background-color: #FFFFFF;
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04); }

.our-friends__card-img {
  border-radius: 9px 9px 0 0; }

.our-friends__card-title {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em; }

.our-friends__card-button {
  padding: 13px 42px;
  border: 2px solid #F1CDB3;
  font-family: Georgia, serif;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  border-radius: 100px; }
  .our-friends__card-button:hover, .our-friends__card-button.active {
    background-color: #F1CDB3; }

.our-friends__pagination {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center; }

.our-friends__pagination-item {
  cursor: pointer;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid #FDDCC4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  font-family: Georgia, serif;
  color: #292929; }
  .our-friends__pagination-item.disabled {
    cursor: default;
    color: #CDCDCD;
    border: 2px solid #CDCDCD; }
  .our-friends__pagination-item:not(:last-of-type) {
    margin-right: 20px; }
  .our-friends__pagination-item.active {
    border: 2px solid #F1CDB3;
    background-color: #F1CDB3; }
  .our-friends__pagination-item:not(.disabled):hover {
    border: 2px solid #FDDCC4;
    background-color: #FDDCC4; }

.our-friends__pagination-link.disabled,
.our-friends__pagination-item:nth-of-type(3) {
  cursor: default;
  pointer-events: none; }

.popup {
  display: none; }
  .popup.active {
    display: block; }
  .popup.wrapper {
    position: relative; }

.popup-content {
  width: 900px;
  height: 500px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 9px;
  background-color: #FAFAFA;
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  display: flex;
  column-gap: 30px;
  z-index: 999; }

.popup-img {
  width: 500px;
  height: 100%; }

.popup-info {
  margin-top: 50px;
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: 400;
  max-width: 351px; }

.popup-title {
  margin-bottom: 10px;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em; }

.popup-breed {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  margin-bottom: 40px; }

.popup-desc {
  margin-bottom: 40px;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em; }

.popup-characteristics__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.popup-characteristics__item {
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  position: relative;
  padding-left: 15px; }
  .popup-characteristics__item:not(:last-child) {
    margin-bottom: 10px; }
  .popup-characteristics__item:before {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #F1CDB3;
    position: absolute;
    top: 45%;
    left: 0; }

.popup-button {
  border-radius: 50%;
  border: 2px solid #F1CDB3;
  position: absolute;
  top: -52px;
  right: -52px;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }
  .popup-button:hover {
    background-color: #F1CDB3; }

footer {
  background-image: url("../../assets/images/footer-gradient-background.jpg");
  background-size: cover;
  padding-top: 40px; }

.footer-content {
  display: flex;
  align-items: flex-start; }

.footer__info {
  column-gap: 135px;
  display: flex; }

.footer__contacts,
.footer__address {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 37px;
  margin-right: 135px;
  width: 303px; }

.footer__contacts {
  margin-right: 0;
  row-gap: 37px; }

.footer__address-boston {
  margin-bottom: 2px; }

.footer__address {
  margin-right: 160px; }

.footer__contacts-title,
.footer__address-title {
  font-family: Georgia, serif;
  margin-bottom: 3px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em; }

.footer__contacts-email,
.footer__contacts-tel,
.footer__address-boston,
.footer__address-london {
  font-family: Georgia, serif;
  color: #F1CDB3;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  height: 32px;
  display: flex;
  align-items: center;
  column-gap: 20px; }

@media (max-width: 1279px) {
  .wrapper {
    width: 100%;
    padding: 0 30px; }

  .header {
    padding-top: 30px;
    padding-bottom: 30px; }

  .menu {
    padding: 0;
    justify-content: space-between; }

  .title {
    margin-bottom: 8px; }

  .our-friends {
    padding-bottom: 61px; }

  .our-friends__title {
    margin-bottom: 14px; }

  .our-friends__list {
    column-gap: 40px;
    margin-bottom: 24px; }

  .our-friends__card:nth-of-type(n+7) {
    display: none; }

  .popup-content {
    width: 630px;
    height: 350px;
    column-gap: 11px; }

  .popup-img {
    width: 350px; }

  .popup-info {
    margin-top: 10px;
    max-width: 260px; }

  .popup-breed {
    margin-bottom: 20px; }

  .popup-desc {
    font-size: 13px;
    line-height: 110%;
    margin-bottom: 30px; }

  .popup-characteristics__item:not(:last-child) {
    margin-bottom: 5px; }

  footer {
    padding-top: 15px; }

  .footer__info {
    column-gap: 38px;
    margin-bottom: 65px; }

  .footer__contacts {
    row-gap: 38px; }

  .footer__address-title,
  .footer__contacts-title {
    margin-bottom: 2px; }

  .footer__address {
    margin-right: 0; }

  .footer-content {
    flex-direction: column;
    align-items: center; } }
@media (max-width: 767px) {
  .logo-wrapper {
    z-index: 999;
    transition: all 1s; }
    .logo-wrapper.active {
      margin-left: auto;
      transform: translateX(-30px); }
      .logo-wrapper.active > .logo > .title {
        color: #F1CDB3; }
      .logo-wrapper.active > .logo > .subtitle {
        color: #FFFFFF; }

  .nav {
    transform: translateX(150%);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #292929;
    padding-top: 90px;
    width: 320px;
    margin-left: auto;
    height: 100vh;
    right: 0;
    padding-bottom: 30px;
    text-align: center;
    transition: all .5s; }
    .nav.active {
      transform: translate(0); }

  /*.menu {
    position: relative;
  }*/
  .nav-list {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    row-gap: 39px;
    padding: 0;
    transition: all .5s;
    margin-top: 5px; }
    .nav-list.active {
      overflow-y: scroll; }

  .nav-list__item {
    height: 54px; }
    .nav-list__item.active {
      border-bottom: 3px solid #F1CDB3; }
      .nav-list__item.active .nav-list__item-link {
        color: #FAFAFA; }
    .nav-list__item:hover .nav-list__item-link {
      color: #FAFAFA; }

  .nav-list__item:not(:last-child) {
    margin-right: 0; }

  .nav-list__item-link {
    font-size: 32px;
    line-height: 160%;
    color: #CDCDCD; }

  .nav-burger {
    cursor: pointer;
    display: block;
    z-index: 999;
    transition: all .5s; }
    .nav-burger.active {
      transform: rotate(90deg); }

  .wrapper {
    padding: 0 10px; }

  .header {
    padding-right: 43px; }

  h3 {
    font-size: 25px;
    line-height: 130%; }

  .our-friends {
    padding-top: 42px;
    padding-bottom: 26px; }

  .our-friends__title {
    margin-top: 0;
    margin-bottom: 25px; }

  .our-friends__card:nth-of-type(n+4) {
    display: none; }

  .our-friends__navigation-right {
    top: 79%;
    right: 19%; }

  .our-friends__navigation-left {
    top: 79%;
    left: 19%; }

  .our-friends__pagination-item:not(:last-of-type) {
    margin-right: 10px; }

  .our-friends__list {
    row-gap: 32px;
    margin-bottom: 25px; }

  .popup-content {
    width: 240px;
    height: 341px;
    padding: 10px; }

  .popup-info {
    margin-top: 0; }

  .popup-title {
    margin-top: 0;
    text-align: center; }

  .popup-breed {
    text-align: center; }

  .popup-desc {
    text-align: justify; }

  .popup-img {
    display: none; }

  footer {
    padding-top: 30px; }

  .footer__info {
    flex-direction: column;
    align-items: center;
    row-gap: 41px;
    margin-bottom: 42px; }

  .footer__contacts,
  .footer__address {
    align-items: center;
    width: 251px;
    margin-top: 0;
    row-gap: 38px; }

  .footer__address {
    row-gap: 36px; }

  .footer__address-london,
  .footer__address-boston {
    height: auto;
    width: 300px; }

  .footer__contacts-title,
  .footer__address-title {
    font-size: 25px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em; }

  .footer__image {
    width: 260px; } }
@media (max-width: 320px) {
  .nav {
    margin-left: 0; }

  .logo-wrapper.active {
    transform: translateX(0); } }

/*# sourceMappingURL=style.css.map */
